.titles {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    background-color: #fff;
}

.titles__list {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    padding: 1rem;
    margin-left: 6rem;
}