.cover {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;

    border: 2px solid #b4bab5;
    border-radius: 10px;
    
    background-color: #fff;
    color: #3e453e;
    font-size: 1.4rem;
    text-align: center;

    font-family: "Manrope", sans-serif;
    font-style: normal;

    margin-top: 1.5rem;
}

.to__learn, .card__know {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    color: #2f342f;
    padding: 0 1.2rem;
    border: 2px solid #a8aea9;
    box-shadow: 1px 5px 3px #c4ccc4;
    border-radius: 15px;
    font-size: 1.2rem;
}

.russian {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding: 0;
}