.header {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    background-color: #fff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border: 1px solid #ccd0cc;
}

.header__list {
    display: flex;
    padding-left: 5rem;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

.header__list-item {
    font-size: 1.2rem;
    color:#69756a;
    padding: 0.5rem 1rem;
}

.user__log-in {
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-color: #69756a;
    color: #fff;
    margin-right: 1rem;
    font-size: 1rem;
}

.user__sign-up {
    padding: 0.5rem 1rem;
    border-radius: 15px;
    background-color: #69756a;
    color:#fff;
    font-size: 1rem;
}