.header {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    background-color: #b7c3c1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ccd0cc;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.header__list {
    display: flex;
    padding-left: 5rem;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
}

.header__list-item {
    font-size: 1.2rem;
    color:#69756a;
    padding: 0.5rem 1rem;

    background-image: linear-gradient(#818589 50%, #dedfda 50%);
    background-size: 100% 200%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    transition: all 550ms ease-in-out;
}

.header__list-item:hover {
    background-position: 0% 100%;
    font-size: 1.4rem;
}
