.container {
    font-family: "Manrope", sans-serif;
    font-style: normal;
    background-color: #3e453e;
    padding: 1rem;
    text-align: center;
    color: #fff;

    margin-top: 0.5rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}